<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Exemplo de Métricas</title>

  <%= stylesheet_link_tag "application", media: "all" %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag "html5shiv", "respond" %>
  <![endif]-->

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">Métricas</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <%= nav_item 'Home', root_path %>
            <%= nav_item 'Clientes', customers_path %>
            <%= nav_item 'Produtos', products_path %>
            <%= nav_item 'Pedidos', orders_path %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <%= flash_messages %>
    <%= yield %>
  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>
